@model IEnumerable<ASPNETAssignment1.Models.Models.Person>
@{
    ViewData["Title"] = "MalePerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Male Persons</h2>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Phong Number</th>
        <th>Birthplace</th>
        <th>Age</th>
        <th>Is Graduated</th>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Gender</td>
            <td>@person.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@person.PhoneNumber</td>
            <td>@person.BirthPlace</td>
            <td>@person.Age</td>
            <td>@person.IsGraduated</td>
        </tr>
    }
</table>

